/* h1{
    color: blue;
} */

/* Para que cambie también el estilo a cualquier componente insertado
Deben estar ambos dentro de un div */
[b-qy1tzsra52] h1{
    color :blue;
    font-family: cursive;
}